    body {
        background-color: black;
        font-family: "Montserrat";
        overflow: hidden;
    }

    #mapid {
        width: 100%;
        height: 100%;
    }

    #my_dataviz {
        position: absolute;
        bottom: 5px;

    }

    #individual {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        border-style: solid;
        overflow-y: scroll;
    }

    p {
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }

    .flight {
        fill: none;
        stroke: white;
        stroke-width: 1px;
        stroke-opacity: 0.2;
    }

    .airport {
        fill: white;
        opacity: 0.5;
        stroke: black;
        stroke-width: 0.5;
    }

    .voronoi {
        fill: none;
        stroke: none;
        stroke-width: 1px;
    }

    .highlight {
        opacity: 1 !important;
        stroke: orange !important;
        stroke-width: 1.5px !important;
        stroke-opacity: 0.8 !important;
    }

    g#voronoi {
        pointer-events: all;
    }

    #tooltip {
        font-size: 10pt;
        font-weight: 900;
        fill: white;
        text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525,
            -1px -1px 0 #252525;
    }

    #birth {
        position: absolute;
        top: 20px;
    }

    #study {
        position: absolute;
        top: 50px;
    }

    #career {
        position: absolute;
        top: 80px;
    }

    #buttons {
        position: absolute;
        left: 43px;
        /* display: inline-flex; */
    }

    /* #male {
        position: absolute;
        left: 5px;
        top: 10px;
      }
      #female {
        position: absolute;
        left: 5px;
        top: 40px;
      }
      #lla {
        position: absolute;
        left: 5px;
        top: 70px;
      } */
    #circles {
        position: absolute;
        width: 60px;
        top: 10px;
        left: 0px;
    }

    .circ {
        fill: white;
        fill-opacity: 0.3;
        stroke: black;
        cursor: pointer;
    }

    button {
        width: 40px;
        margin: 1px;
        cursor: pointer;
        border: 1px solid #3a3a3a;
        border-radius: 5px;
        color: white;
        padding: 5px 5px;
        text-align: center;
        font-family: "Montserrat";
        background-color: #282832;
        font-weight: bold;
        font-size: 14px;
    }

    #panel {
        left: -2px;
        background-color: #282832;
        border: 2px solid #3a3a3a;
        position: relative;
        border-radius: 5px 5px 5px 5px;
    }

    #unilogo {
        position: absolute;
        left: 3px;
        width: 35px;
        z-index: 2;
    }

    #details {
        position: absolute;
        font-size: 12px;
        z-index: 999;
        background-color: black;
        width: 120px;
        color: white;
        border-radius: 3px;
        padding: 0.8em;
        border: none;
        box-shadow: 0 0px 0px 0 rgb(255 255 255 / 10%), 0 0px 5px 0 rgba(255, 255, 255, 0.2);
        margin: auto;
        display: none;
        opacity: 0.8;
    }

    #header {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        height: 45px;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
        z-index: 900;
    }

    #title_img {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 45px;
    }

    h1 {
        color: white;
        margin: auto;
    }

    .domain, .tick {
        color: white;
        opacity: 0.5;
    }
