#contentCapsule{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  color: rgb(255, 255, 255);
  z-index: 9999;
  text-align: center;
}

h6 {
  margin: 2px;
}

body {
  margin: 0;
  color: white;
  font-family: 'Montserrat';
  background-color: black;
  overflow: hidden;
}

#description{
  font-size: larger;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
}

.button{
  position: relative;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  /* border: 3px solid #04AA6D; */
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}


#header {
  position: fixed;
  /* background-color: #0F1826; */
  background-color: black;
  height: 45px;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  z-index: 999;
}

#peace_img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 45px;
}

h1 {
  margin: auto;
}

#story {
  position: absolute;
  left: 0px;
  top: 45px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#separator,
#separator1,
#separator2{
  position: relative;
  display: flex;
  /* background-image: url("../img/ru.PNG"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain; 
  background-position: center;  
  background-color: black;
}

.graphic,
.graphic1,
.graphic2 {
  position: relative;
  width: 100%;
}

.graphic__prose,
.graphic__prose__1,
.graphic__prose__2 {
  display: block;
  position: relative;
  font-size: 14px;
  right: 5px;
  z-index: 99;
  /* pointer-events: none; */
}



.graphic__vis {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
}

.graphic__vis__1,
.graphic__vis__2 {
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 1000px;
}

.graphic__vis svg {
  /* border: 1px dashed white; */
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.graphic__vis__1 svg {
  /* border: 1px dashed white; */
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.graphic__vis__2 svg {
  /* border: 1px dashed white; */
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.graphic__vis.is-fixed {
  position: fixed;
}

.graphic__vis.is-bottom {
  top: auto;
  bottom: 0;
}

.graphic__vis__1.is-fixed {
  position: fixed;
  top: 5px;
}

.graphic__vis__1.is-bottom {
  top: auto;
  bottom: 0;
}

.graphic__vis__2.is-fixed {
  position: fixed;
  top: 5px;
}

.graphic__vis__2.is-bottom {
  top: auto;
  bottom: 0;
}

#vik {
  float: rightleft;
  margin: auto;
  /* padding-top: 10px; */
}

#mage {
  position: relative;
  height: 420px;
  transition: transform .2s; /* Animation */
  -webkit-box-shadow: 0 0 8px 1px #868686;
  -moz-box-shadow: 0 0 8px 1px #868686;
  box-shadow: 0 0 8px 1px #868686;
}

#mage:hover {
  transform: scale(1.1); 
}

.tick line {
  stroke: white;
  stroke-opacity: 0;
}

#para1 {
  width: 600px;
}

#ch1_div,
#ch2_div {
  font-size: 24px;
  text-align: center;
  margin: auto;
  text-align: center;
}

#bars {
  position: relative;
}

.trigger {
  position: relative;
  padding: 0px;
  /* text-align: center; */
  /* line-height: 100px; */
  /* height: 1000px; */
  font-size: 16px;
}

p {
  position: relative;
  margin: 0px;
  top: 30px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  /* box-shadow: 0px 1px 2px #232323, 0px -1px 2px #232323; */
  padding: 10px;
  text-align: right;
}

#more_info {
  position: relative;
  z-index: 999;
  background-color: black; 
  border: none;
  color: gray;
  padding: 2px 5px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#timeline {
  pointer-events: none;
}

.additional-content {
  position: relative;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px;
  padding-top: 0px;

}

.hidden {
  display: none;
}

#timeline {
  position: absolute;
  right: 0px;
  z-index: 100;
}

.axisWhite line{
  stroke: gray;
}

.axisWhite path{
  stroke: gray;
  opacity: 0;
}

.axisWhite text{
  fill: white;
}

#hover_description {
  position: absolute;
  font-size: 12px;
  z-index: 999;
  background-color: black;
  width: 120px;
  color: white;
  border-radius: 3px;
  padding: 0.8em;
  border: none;
  box-shadow: 0 0px 0px 0 rgb(255 255 255 / 10%), 0 0px 5px 0 rgba(255, 255, 255, 0.2);
  margin: auto;
  display: none;
  opacity: 0.8;
}

#actor_dropdown {
  z-index: 999;
  position: absolute;
  top: 5px;
  width: 200px;
  height: 70px;
  background-color: black;
}

#break {
  position: relative;
  top:0px;
  height: 200px;
}

#perm {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 100;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  border-radius: 3px;
  opacity: 0;
}

#perm2 {
  position: absolute;
  width: 200px;
  top: 50px;
  height: 200px;
  z-index: 9999;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  border-radius: 3px;
}

#ind_line {
  position: absolute;
  left: 20px;
  z-index: 100;
  width: 10px;
  height: 2px;
  background: red;
}


#details {
  position: absolute;
  font-size: 12px;
  z-index: 999;
  background-color: black;
  width: 120px;
  color: white;
  border-radius: 3px;
  padding: 0.8em;
  border: none;
  box-shadow: 0 0px 0px 0 rgb(255 255 255 / 10%), 0 0px 5px 0 rgba(255, 255, 255, 0.2);
  margin: auto;
  display: none;
  opacity: 0.8;
}

/* path.domain {
  visibility: hidden;
} */

.airport {
  fill: white;
  opacity: 1;
  stroke: gray;
  stroke-width: 0.5;
}

.flight {
  fill: none;
  /* stroke: #7C8BD5; */
  stroke: white;
  stroke-width: 0.4;
  stroke-opacity: 0.3;
}

.voronoi {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}

.highlight {
  opacity: 1 !important;
  stroke: orange !important;
  stroke-width: 1.5px !important;
  stroke-opacity: 0.8 !important;
}

g#voronoi2 {
  pointer-events: all;
}

#tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525,
    -1px -1px 0 #252525;
}

